/* for Modal */
.task {
  display: grid;
  gap: 12px;
}

.task__meta {
  display: flex;
  gap: 8px;
}

.task__assignees {
  display: flex;
  gap: 8px;
  align-items: center;
}

.task__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--color-accent);
  display: grid;
  place-items: center;
}
