.list {
  display: grid;
  gap: var(--space-3);
  margin: 0;
  padding: 0;
  list-style: none;
}
/* переписать в projects*/
.grid {
  display: grid;
  gap: var(--space-4);
}
.grid--projects {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
